.input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.input-element {
    outline: none;
    border: 1px solid #e1bee7;
    background-color: #fff;
    font: inherit;
    padding: 6px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
}
