body {
    background-color: #282828;
    color: #fff;
}

input {
    width: 35%;
    border: none;
    border-radius: 0.5rem;
    color: #fff;
    background-color: #616161;
    outline: none;
    font: inherit;
    font-size: 0.9rem;
    padding: 0.8rem;
    margin: 0.3rem 0;
}
::placeholder {
    color: #9e9e9e;
}
button {
    background: none;
    border: none;
    color: #fff;
    font: inherit;
    font-size: 1.2rem;
}
