.btn {
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 3px;
    font: inherit;
    color: #fff;
    margin: 10px;
    padding: 10px;
}
.success {
    background-color: #388e3c;
}
.danger {
    background-color: #de2f2f;
}
